/* styles for 737MAX ONS trainer */

.header{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 100%;
        color: white;
        height: 5vh;
        background-color: rgb(0, 0, 0, 0.8);
}

.app{
    display: grid;
    grid-template-columns: 1fr, 4fr, 1fr;
    
}







/*footer*/
.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    color: white;
    height: 5vh;
    background-color: rgb(0, 0, 0, 0.8);
  }