/* styles for 737MAX ONS trainer */
body{
  margin: 0%;
}
.header{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 100%;
        color: white;
        height: 10vh;
        background-color: rgb(0, 0, 0, 0.8);
        font-size: 24px;
}

.invisible{
  visibility: hidden;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;

}

#mfpanel{
    position: fixed;
    top: 10vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(104, 94, 94);
    padding: 10px;
    border-radius: 10px;
    margin: 1%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#showmfpanel{
    position: fixed;
    background-color: rgb(104, 94, 94);
    border-radius: 10px;
    top: 0;
    margin: 1%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#showmfpanel > button{
  background-color: black;
  color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 5px #000000,
  inset 0 0 0 1px #fff;
  width: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);

}

#mfpanel > button{
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #000000,
    inset 0 0 0 1px #fff;
    width: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#ENG{
    font-size:large ;
}
#SYS{
    font-size:large ;
}
#INFO{
    font-size:large ;
}
#CR{
    font-size:large ;
}
#dArrow {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}



#MFD{
    grid-column-start: 1;
    grid-column-end:  3;
  display: flex;
  flex-direction: row;
}
#MFD:before, #MFD:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
  border-color: white;
}
#MFD:before {
  margin-right: 10px
}
#MFD:after {
  margin-left: 10px
}
#MFD h3 {
    background-color: rgb(104, 94, 94);
    color: white;
    text-align: center;
}

#ENGTFR{
    grid-column-start: 1;
    grid-column-end:  3;
    grid-row-start: 4;
    grid-row-end: 5;
  display: flex;
  flex-direction: row;
}

#ENGTFR:before, #ENGTFR:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
  border-color: white;
}
#ENGTFR:before {
  margin-right: 10px
}
#ENGTFR:after {
  margin-left: 10px
}
#ENGTFR h3 {
    background-color: rgb(104, 94, 94);
    color: white;
    text-align: center;
}

#displaycontainer{
  background-color:black ;
  width: 70vh;
  height: 85vh;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  max-width: 476px;
  max-height: 638px;
  position: relative;
}

#maintheader{
  position: relative;
  right: 0;
  width: 100%;
  height: 6%;
}

#maintbutton{
  position:absolute ;
  background-color: rgb(175, 175, 175);
  color: white;
  font-weight: bold;
  top: 0;
  right: 0;
  height:100% ;
  width: 25%;
}


#headernav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
}

#mdpheadernav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
}

.navbutton{
  background-color: rgb(175, 175, 175);
  color: white;
  font-weight: bold;
  top: 0;
  right: 0;
  height:100% ;
  width: 100%;
}
.navbutton .active{
  background-color: green;
  border-style: inset;
}
.buttonhover:hover{
  border-color: rgb(255, 76, 243);
  border-width: 2px;
}

.active{
  background-color: rgb(54, 214, 54);
  
}

#statuscont{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #16f8fb;
  border-radius: 2%;
  height: 85%;
  width: 90%;
  margin: 5%;
}

#statusmsg{
  display: flex;
  background-color: black;
  margin-top: -2%;
  padding-left: 1%;
  padding-right: 1%;
  width: 39%;
  align-self: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#statusexamples{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 30%;
  width: 100%;
  padding-left: 3%;
}


.bluef{
  color: #16f8fb;
}

.whitef{
  color: white;
}
.blackf{
  color: black;
}

#hyddisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #16f8fb;
  border-radius: 5%;
  height: 20%;
  width: 50%;
  margin-left: 25%;
  margin-top: 15%;
}

#hydtitle{
  display: flex;
  background-color: black;
  margin-top: -4%;
  padding-left: 2%;
  padding-right: 1%;
  width: 40%;
}

#hydcontainer{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
width: 100%;
height: 100%;
padding-left: 5%;
}

#a{
  display: flex;
  align-self: end;
}

#b{
  display: flex;
  align-self: end;
}

#displayselcontainer{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5%;
  padding: 1%;
}

.dsfont{
  font-size: smaller;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.dsbutton{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

#ds31{
  display: flex;
  justify-content: center;
}
#ds41{
  display: flex;
  justify-content: center;
}
#ds51{
  display: flex;
  justify-content: center;
}
#mcddiscont{
  margin-top: 5%;
}
.mcpbutton{
  width: 60%;
  height:2rem;
}
#ONBDmaintcont{
  display: flex;
  flex-direction: row;
}
.ONBDmaintbutton{
  padding-left: 9%;
  padding-right: 9%;
}

#ONBDcarrier {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}
#acdisplaycontainer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 14px;
}
#acdisplayAIRCON{
text-decoration: underline;
grid-column-start: 1;
grid-column-end: 5;
justify-self: center;
align-self: center;
}
#acdisplayunits{
  grid-column-start: 1;
  grid-column-end: 5;
}
#acdisplayTRIMAIR{
  grid-column-start: 1;
  grid-column-end: 2;
}
#acdisplayon {
  grid-column-start: 3;
  grid-column-end: 5;
}
#acdisplayCONT{
  grid-column-start: 2;
  grid-column-end: 3;
}

#displaycontfooter{
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.pagebutton{
  background-color: rgb(0, 0, 0);
  color: #16f8fb;
  font-weight: bold;
  top: 0;
  right: 0;
  height:100% ;
  width: 100%;
  border-color: #16f8fb;
}

#fcdisplaycontainer{
  font-size: .9rem;
}
#fctitle{
  text-decoration: underline;
  justify-content: center;
}
#fcg1{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 3fr 0.5fr 1fr 4fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#columnpos{
  padding: 1%;
  justify-content: right;
}
#scespdbrklvrpos{
  padding: 1%;
  justify-content: right;
}
#fcg2{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3fr 1fr 0.5fr 2fr;

}
#scespdbrklvr{
  padding-right: 10%;
}
.center{
  justify-content: center;
}

.right{
  justify-content: right;
}

.offright{
  padding-right: 10%;
}
.offleft{
  padding-left: 10%;
}


#fcg3{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 0.5fr 0.5fr 1fr 1.5fr 0.75fr;
}
#fcg4{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#fcg5{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#lteflap{
  grid-column: 1 / 3;
}
#rteflap{
  grid-column: 3 / 5;
}
#fseu{
  grid-column: 2/4;
}
#fcc{
  grid-column: 2/4;
}
#smyd{
  grid-column: 2/4;
}
#fcg6{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
#fcg7{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr 1fr;
}
#fcg8{
  padding-top: 1%;
  display: grid;
  grid-template-columns: 1.5fr 6fr;
}
#gearongnd{
  grid-column: 1 / 3;
}
#whlspd{
  grid-column: 3 / 7;
  justify-content: center;
}


/*footer*/
.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    color: white;
    height: 5vh;
    min-height: 36.75px;
    background-color: rgb(0, 0, 0, 0.8);
  }

