/* styles for 737MAX ONS trainer */

.header{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 100%;
        color: white;
        height: 5vh;
        min-height: 36.75px;
        background-color: rgb(0, 0, 0, 0.8);
        font-size: 24px;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

#mfpanel{
    position: fixed;
    left: 0;
    top: 50px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(104, 94, 94);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#mfpanel > button{
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #000000,
    inset 0 0 0 1px #fff;
    width: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#ENG{
    font-size:large ;
}
#SYS{
    font-size:large ;
}
#INFO{
    font-size:large ;
}
#CR{
    font-size:large ;
}
#dArrow {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}



#MFD{
    grid-column-start: 1;
    grid-column-end:  3;
  display: flex;
  flex-direction: row;
}
#MFD:before, #MFD:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
  border-color: white;
}
#MFD:before {
  margin-right: 10px
}
#MFD:after {
  margin-left: 10px
}
#MFD h3 {
    background-color: rgb(104, 94, 94);
    color: white;
    text-align: center;
}

#ENGTFR{
    grid-column-start: 1;
    grid-column-end:  3;
    grid-row-start: 4;
    grid-row-end: 5;
  display: flex;
  flex-direction: row;
}
#ENGTFR:before, #ENGTFR:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
  border-color: white;
}
#ENGTFR:before {
  margin-right: 10px
}
#ENGTFR:after {
  margin-left: 10px
}
#ENGTFR h3 {
    background-color: rgb(104, 94, 94);
    color: white;
    text-align: center;
}





/*footer*/
.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    color: white;
    height: 5vh;
    min-height: 36.75px;
    background-color: rgb(0, 0, 0, 0.8);
  }